.hero {
  position: relative;
  min-height: 680px;
  background:#F4EDE6;
  overflow: hidden;
}

.hero-container {
  min-height: 680px;
  display: grid !important;
  grid-template-columns: 48% 52% !important;
  align-items: center;
  gap: 0 !important;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  min-width: 0;
  margin-top: -270px;
}

.hero-tag {
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 25px;
  color: #263238;
  font-size: 14px;
}

.hero-content h1 {
  width: 100%;
  max-width: 620px;

  margin: 0 0 30px;

  color: #263238;
  font-size: clamp(48px, 4vw, 72px);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-content h1 span {
  color: #ff6b61;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.primary-btn,
.secondary-btn {
  border: none;
  padding: 14px 25px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;

  cursor: pointer;
}

.primary-btn {
  background: #ff6b61;
  color: #ffffff;
}

.secondary-btn {
  background: #263238;
  color: #ffffff;
}

.hero-text-vector {
  display: block;

  width: 200px;
  height: auto;
  margin-left: -20px;
  margin-top: -285px;
}

.hero-image-area {
  position: relative;

  width: 100%;
  min-width: 0;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
}

.hero-swiper {
  width: 100% !important;
  height: 100% !important;
  overflow: visible !important;
}

.hero-swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.hero-swiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
}

.hero-slide {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex !important;
  align-items: center;
  justify-content: center;
}

.hero-slide img {
  display: block !important;

  width: min(100%, 620px) !important;
  max-width: none !important;

  height: auto !important;

  visibility: visible !important;
  opacity: 1 !important;

  object-fit: contain;
}

@media (max-width: 900px) {
  .hero-container {
    gap: 20px;
  }

  .hero-content h1 {
    font-size: 52px;
  }

  .hero-image-area {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 60px 0;
  }

  .hero-container {
    min-height: auto;

    grid-template-columns: 1fr !important;

    text-align: center;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image-area {
    height: 450px;
  }

  .hero-content h1 {
    font-size: 48px;
  }
}